*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-very-small: 0.7rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 0.9rem;
  --font-size-large: 1rem;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: 'メイリオ', 'Meiryo', 'sans-serif';
}
