/* common practice */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;
}

html,
body,
#root {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}
