.container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  width: 70%;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
}

.subInfo {
  font-size: var(--font-size-small);
  margin-bottom: 1rem;
}

.favouriteResContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 2rem;
}
