:root {
  --resCard-font-size-very-small: 0.7rem;
  --resCard-font-size-small: 0.875rem;
  --resCard-font-size-medium: 0.9rem;
  --resCard-font-size-large: 1rem;
}

.card {
  background-color: white;
  display: flex;
  border: 0.5px solid rgb(216, 215, 215);
  border-radius: 5px;
  width: 100%;
  height: 180px;
  box-shadow: 5px 0 15px rgb(216, 215, 215);
  overflow: hidden;
}

.imageContainer {
  height: 100%;
  width: 40%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  object-fit: cover; /* ensure the image cover the container while mainting the aspect ratio*/
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurantName {
  font-size: var(--resCard-font-size-large);
  font-weight: bold;
  color: #a98337;
}

.restaurantName > a {
  color: inherit;
}

.restaurantName > a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  opacity: 0.8;
}

.solidHeart {
  color: #b30018;
  font-size: 1.1rem;
}

.blankHeart {
  font-size: 1.1rem;
  opacity: 0.3;
}

.resCardBtn {
  border: none;
  background-color: transparent;
}

.resCardBtn:hover {
  cursor: pointer;
  color: #b30018;
}

.heartContainer {
  position: relative;
  display: inline-block; /* Ensure the heartContainer does not take up full width */
}

.secondText {
  font-size: var(--resCard-font-size-small);
  margin-top: 1px;
}

.divider {
  border: 1px solid rgba(222, 218, 218, 0.856);
  opacity: 0.4;
  margin: 5px 0 5px 0;
}

.catchCopy {
  font-size: var(--resCard-font-size-small);
  opacity: 0.8;
  margin-bottom: 5px;
}

.ratingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.fullStar,
.halfStar {
  color: #c49c4b;
}

.blankStar {
  color: rgb(193, 191, 191);
}

.ratingValue {
  font-weight: bold;
  margin-left: 4px;
}

.ratingCountIcon {
  color: #583c03;
  opacity: 0.5;
  padding-bottom: 1px;
  margin-left: 5px;
  font-size: var(--resCard-font-size-small);
}

.ratingCount {
  font-size: var(--resCard-font-size-very-small);
  margin-left: 2px;
}

.access {
  font-size: var(--resCard-font-size-very-small);
  opacity: 0.9;
  overflow: hidden; /* Hide overflow text */
}

.alert {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 110%; /* Position the alert below the heart */
  /* right: 60%; */
  transform: translateX(-88%);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
  font-size: var(--resCard-font-size-very-small);
  width: calc(100% * 12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeColor {
  background-color: rgb(201, 137, 19);
}

.green {
  background-color: rgb(15, 163, 15);
}

.show {
  opacity: 1;
}
