:root {
  --font-size-small: 0.875rem;
}

.card {
  background-color: white;
  display: flex;
  border: 0.5px solid rgb(216, 215, 215);
  border-radius: 5px;
  width: 100%;
}

.image {
  padding: 0.5rem;
  max-width: 30%;
  border-radius: 5px;
  margin-right: 20px;
}

.description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.smallText {
  font-size: var(--font-size-small);
}

a {
  text-decoration: none;
}

.heartContainer {
  position: relative;
  display: inline-block; /* Ensure the heartContainer does not take up full width */
}

.alert {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 100%; /* Position the alert below the heart */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Green */
  color: white;
  padding: 15px;
  border-radius: 4px;
  z-index: 1000;
  font-size: 0.8rem;
}

.show {
  opacity: 1;
}

.alert.show {
  opacity: 1;
}
