.myAccountPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 350px;
  padding: 2rem 3rem 2rem 3rem;
  border: 1px solid rgb(217, 215, 215);
}

.firstText {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  background: linear-gradient(to right, #deba73, #c39332);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.labelText {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(99, 98, 98);
  margin-top: 10px;
}

.myAccountInput {
  display: block;
  padding: 0.6rem;
  width: 100%;
  background-color: rgb(245, 241, 241);
  border: none;
}

.myAccountInput:focus {
  outline: none;
  border: 0.5px solid #d5a137;
}

.userInfoBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.userInfoBtns,
.passwordUpdateBtn,
.deleteAccountBtns {
  margin-top: 20px;
  /* width: 20%; */
  background-color: #d5a137;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.userInfoBtns {
  width: 80px;
}

.passwordUpdateBtn {
  width: 140px;
}

.deleteAccountBtns {
  width: 110px;
  background-color: rgb(219, 50, 50);
}

.userInfoBtns:hover,
.passwordUpdateBtn:hover {
  background-color: #be933b;
}

.deleteAccountBtns:hover {
  background-color: rgb(134, 3, 3);
}
