.container {
  background-color: #f3f4f5;
  display: flex;
  height: 100%;
}

.leftSide {
  width: 58%;
  padding: 1em;
  overflow: auto;
}

.rightSide {
  width: 42%;
  padding: 1em;
}

.map {
  height: 100%;
  width: 100%;
}

.resCardList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.dropdown {
  margin-bottom: 0.5rem;
}
