.container {
  display: flex;
  justify-content: space-between; /* Distribute items evenly*/
  max-width: 80%;
  margin: 40px auto 40px auto;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  gap: 2rem;
}

.container > * {
  flex: 1; /* each flex item containing equal space*/
}
