.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(245, 241, 241);
  padding: 4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 370px;
  padding: 2rem 3rem 3rem 3rem;
  background-color: white;
  border: 1px solid rgb(217, 215, 215);
}

.firstText {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  background: linear-gradient(to right, #deba73, #be933b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.labelText {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(99, 98, 98);
  margin-top: 15px;
}

.loginInput {
  padding: 0.6rem;
  background-color: rgb(245, 241, 241);
  border: none;
}

.loginInput:focus {
  outline: none;
  border: 0.5px solid #d5a137;
}

.forgotPasswordlink {
  font-size: var(--font-size-very-small);
  color: rgb(99, 98, 98);
  margin-top: 8px;
  margin-left: 3px;
}

.forgotPasswordlink:hover {
  color: rgb(58, 58, 241);
  text-decoration: underline;
  cursor: pointer;
}

.loginBtn {
  margin-top: 13px;
  width: 100%;
  background-color: #d5a137;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #be933b;
}
