.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: white;
  padding: 30px 90px;
  font-size: 1.2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoContainer:hover {
  color: inherit;
  cursor: pointer;
}

.logo {
  max-width: 6%; /* Ensures the image fits within the container's width */
  max-height: auto; /* Maintains the aspect ratio */
}

.logoText a {
  color: inherit; /* remove the default setting of Link which by default the text will be blue*/
  text-decoration: none;
}

.logoText {
  font-weight: bold;
  font-family: Serif;
  color: black;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: var(--font-size-large);
  width: 30%;
}

.navLinks a {
  text-decoration: none;
  color: inherit;
}

.navItems > a:hover {
  background-color: rgb(245, 241, 241);
  cursor: pointer;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navItems a {
  /* since inside .navItems element we are using <Link>, we need to target <Link> by specifying <a> */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.navItemsHeart {
  font-size: 1.1rem;
}

.navItemsBtn {
  background-color: white;
  border-radius: 50%;
  border: 1.3px solid #a98337;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(248, 238, 219);
}

.navItemsBtn:hover {
  background-color: #dabb7d;
}

.navItemsUserIcon {
  font-size: var(--font-size-large);
}

.spacer {
  border: 1px solid rgb(213, 210, 210);
}

.dropdown {
  position: absolute;
  top: 55px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(161, 161, 161);
  background-color: white;
  list-style: none;
  z-index: 3;
  height: calc(100% * 1.4);
  width: calc(100% * 4);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
}

.dropDownListItem {
  width: 100%;
  height: 30px;
}

.dropDownListItem > button,
.dropDownListItem > a {
  background-color: inherit;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: var(--font-size-small);
}

.dropDownListItem > a {
  display: flex;
  justify-content: center;
}

.dropDownListItem:hover {
  background-color: rgb(245, 241, 241);
}
